body {
  margin: 0;
  padding: 0;
  background-color: #ff0000;
}

canvas#container {
  width: 1280px;
  height: 720px;
}

div#debugOverlay {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 0px 12px;

  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.25);

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 80%;
}
